// constants
$base-radius: 0.4rem;

// colors
$pr-black: #222222;
$se-black: #333333;
$th-black: #000000;
$pr-white: #fff;
$se-white: #d4d4d4;
$pr-purple: #351970;
$se-purple: #473FA7;
$pr-red: #c0392b;
$se-red: #b33939;
$pr-blue: #3498db;
$se-blue: #031934;
$pr-green: #096B25;
$se-green: #005744;
$pr-grey: #838383;

$positive-green: #16B342;
$negative-red: #B31616;

$react-bg: #0D8B30;
$react-bg2: #32CD5D;

$redux-bg: #351970;
$redux-bg2: #473FA7;

$udacity-bg: #691970;
$udacity-bg2: #94409B;




// distances
$pd-xs-small: 0.4rem;
$pd-small: 0.8rem;
$pd-xs-medium: 1.2rem;
$pd-medium: 1.6rem;
$pd-xl-medium: 2rem;
$pd-large: 2.4rem;
$pd-xl-large: 4.8rem;

$mr-xs-small: 0.4rem;
$mr-small: 0.8rem;
$mr-medium: 1.6rem;
$mr-large: 2.4rem;
$mr-xl-large: 4.8rem;

// fonts
$ff-main: 'Press Start 2P', cursive;
$fs-xs-small: 0.4rem;
$fs-small: 0.8rem;
$fs-xs-medium: 1.2rem;
$fs-medium: 1.6rem;
$fs-xl-medium: 2rem;
$fs-large: 2.4rem;
$fs-xl-large: 4.8rem;

// base font-size
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  &:visited {
    color: $pr-white;
  }
}

select option {
  padding: $pd-large;
  height: $pd-medium;
  -webkit-appearance: none;
  appearance: none;
  line-height: $pd-medium;
}
// mixins

// Convert PX to EM global function
// @function px-to-em($px) {
//   $basepx: 16;
//   @return ($px/$basepx) + 0em;
// }
