body {
  width: 100%;
  min-width: 480px;
  min-height: 100vh;
  background-repeat: no-repeat;
  color: $pr-white;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: $ff-main;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  background-color: $pr-black;
  background-repeat: no-repeat;
  min-height: 100vh;
}

*::input, textarea {
  font-family: $ff-main;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: $pr-white;
}