.header {
  display: flex;
  padding: $pd-medium;
  text-align: center;
  align-items: center;
  background-color: $se-blue;

  &__title {
    display: flex;
    width: 100%;
    text-align: center;
    flex: 1;
    justify-content: center;
    font-size: 5.6rem;
  }

  &__logo {
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../dist/images/book.svg');
    margin-right: $mr-small;
  }
}

.subheader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $th-black;

  &__item {
    display: flex;
    background-color: $se-black;
    padding: $pd-medium $pd-large;
    font-size: $fs-medium;
    border-right: .3rem solid $pr-black;
    text-decoration: none;
    &:visited {
      color: $pr-white;
    }

    &-active {
      display: flex;
      padding: $pd-medium $pd-large;
      font-size: $fs-medium;
      background-color: $pr-black;
    }
  }
}
